<%- include ../../component/common_header.html -%>
<div class="main-container" id="main-container">
    <script type="text/javascript">
        try {
            ace.settings.check('main-container', 'fixed')
        } catch (e) {
        }
    </script>

    <div class="main-container-inner">
        <a class="menu-toggler" id="menu-toggler" href="#">
            <span class="menu-text"></span>
        </a>
        <%- include ../../component/side-bar.html -%>
        <div class="main-content">
            <div class="breadcrumbs" id="breadcrumbs">
                <script type="text/javascript">
                    try {
                        ace.settings.check('breadcrumbs', 'fixed')
                    } catch (e) {
                    }
                </script>

                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home home-icon"></i>
                        <a href="/management">首页</a>
                    </li>
                    <li class="active">
                        <a href="/management/product">产品管理</a>
                    </li>
                    <li class="active">
                        <%if(data.editType === 'add'){%>
                        新增产品
                        <%} else if (data.editType === 'edit') {%>
                        修改产品
                        <%} else {%>
                        查看产品
                        <%}%>
                    </li>
                </ul>
            </div>
            <div class="page-content">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="widget-box" style="border-bottom: 0;">
                                    <div class="widget-header">
                                        <h4 class="smaller">
                                            <%if(data.editType === 'add'){%>
                                            新增产品
                                            <%} else if (data.editType === 'edit') {%>
                                            修改产品
                                            <%} else {%>
                                            查看产品
                                            <%}%>
                                        </h4>
                                    </div>
                                    <div class="widget-body" style="padding-bottom: 20px;">
                                        <div class="widget-main">
                                            <form class="form-horizontal" role="form">
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label no-padding-right" for="productName"> 产品名称 </label>
                                                    <div class="col-sm-9">
                                                        <input type="text" id="productName" placeholder="请输入产品名称" name="productName" value="<%=data.productName || ''%>" class="col-xs-10 col-sm-5"/>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label no-padding-right"> 展示状态 </label>
                                                    <div class="col-sm-9">
                                                      <span class="radio" style="display:inline">
                                                        <label>
                                                          <input name="showStatus" value="1" type="radio" class="ace" <%= data.showStatus === '1' ? 'checked' : ''%> />
                                                          <span class="lbl">启用</span>
                                                        </label>
                                                      </span>
                                                        <span class="radio" style="display:inline">
                                                        <label>
                                                          <input name="showStatus" value="0" type="radio" class="ace" <%= data.showStatus === '0' ? 'checked' : ''%> />
                                                          <span class="lbl">禁用</span>
                                                        </label>
                                                      </span>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label no-padding-right"
                                                           for="form-field-2"> 首位展示 </label>
                                                    <div class="col-sm-9">
                                                        <select class="col-xs-10 col-sm-5" id="form-field-2" name="bgPosition_id">
                                                            <option value="0">--选择首位展示的图片--</option>
                                                            <%
                                                                if(data.productImgs && Object.keys(data.productImgs).length > 0){
                                                                    var prodImg;
                                                                    for(var key in data.productImgs){
                                                                        prodImg = data.productImgs[key];
                                                            %>
                                                            <option value="<%= prodImg.imgPath %>,<%= prodImg.imgName %>,<%= prodImg.imgOriginalName %>" <%= data.indexImg && data.indexImg.imgName ===  key ? 'selected' : '' %> >
                                                            <%=prodImg.imgOriginalName%>
                                                            </option>
                                                            <%
                                                                    }
                                                                }
                                                            %>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label no-padding-right"
                                                           for="description">产品描述 </label>
                                                    <div class="col-sm-9">
                                                        <textarea id="description" class="wysiwyg-editor  col-sm-5" style="border: 1px solid #BBC0CA"><%=data.description || ''%> </textarea>
                                                        <!--</form>-->
                                                    </div>
                                                </div>
                                                <input type="hidden" name="product_id" value="<%=data._id || ''%>">
                                                <input id="imgUrl" type="hidden" name="imgUrl" value="<%=data.imgUrl || ''%>">
                                            </form>
                                            <button  onclick="addNewProductImg(event, '<%= webRoot%>');" class="btn btn-sm btn-info" style="transform: translateX(50%);left: 50%;">添加样品图</button>
                                            <div id="product_imgs">
                                                <form id="img_upload_1" method="post" enctype="multipart/form-data" class="form-horizontal" role="form" action="/management/upload_bannerImg">
                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label no-padding-right"> 产品样品图</label>
                                                        <div class="col-sm-9">
                                                            <input class="col-xs-5 col-sm-2" type="file" name="upload_file" accept="image/gif,image/x-png,image/jpeg" onchange="upload(event, 1);">
                                                            <i class="red">( 图片尺寸：1280 * 400 )</i>
                                                            <a class="red" href="javascript:$('#img_upload_1').remove();" title="删除该图片" style="margin-left: 20px;">
                                                                <i class="icon-trash bigger-130"></i>
                                                            </a>
                                                        </div>
                                                        <img id="img_widget_1" src="<%=data.imgUrl || (webRoot)+ '/images/upload-bg.png'%>" style="margin: 20px 14px;max-width:260px;"/>
                                                        <label>名称：</label>
                                                        <input type="text" disabled id="imgName_1"/>
                                                        <label>使用状态：
                                                            <span class="radio" style="display:inline">
                                                            <label>
                                                              <input name="showStatus" value="1" type="radio" class="ace" checked/>
                                                              <span class="lbl">启用</span>
                                                            </label>
                                                        </span>
                                                            <span class="radio" style="display:inline">
                                                            <label>
                                                              <input name="showStatus" value="0" type="radio" class="ace"/>
                                                              <span class="lbl">禁用</span>
                                                            </label>
                                                        </span>
                                                        </label>
                                                        <br>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="form-group" <%=data.editType === 'detail' ? 'hidden' : ''%> >
                                                <div class="col-sm-3"></div>
                                                <div class="col-sm-9 ">
                                                    <a class="btn btn-success col-xs-10 col-sm-2" onclick="submit_bannerImg(this)">提交</a>
                                                </div>
                                            </div>
                                            <hr>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include ../../component/common_footer.html -%>
<script src="<%=webRoot%>/javascripts/product.js"></script>
<script>
    function submit_bannerImg(btn) {
        var bannerImgName   = $("input[name='bannerImgName']").val();
        var useStatus       = $("input[name='useStatus']:checked").val();
        var imgUrl          = $("input[name='imgUrl']").val();
        var description     = $('#description').val();
        var editType        = '<%= data.editType%>';
        var _id             = '<%=data._id%>';
        if (!bannerImgName) {
            return bootbox.alert('请输入背景图名称');
        } else if(!useStatus) {
            return bootbox.alert('请选择启用状态');
        } else if (!imgUrl) {
            return bootbox.alert('请上传背景图片');
        }
        $.post('/management/bannerImg/add', {
            bannerImgName   : bannerImgName,
            useStatus       : useStatus,
            imgUrl          : imgUrl,
            description     : description,
            editType        : editType,
            _id             : _id
        }, function (result) {
            if (result.code === '200') {
                return bootbox.alert('保存成功', function () {
                    window.location.href = '/management/bannerImg';
                });
            } else {
                return bootbox.alert(result.code + ":" + result.msg);
            }
        }, 'json');
    }


    function upload1(o, imgIndex) {
        var hideForm = $('#img_upload_' + imgIndex), $file = $(o).clone();
        var options = {
            dataType: "json",
            beforeSubmit: function () {
            },
            success: function (result) {
                if (result.code === '200') {
                    $("#imgUrl").val(result.data.file_path);
                    $("#img_widget_" + imgIndex).attr('src', result.data.file_path);
                    // TODO 这里需要在上传成功以后，将图片信息存储起来，便于最后提交
                } else {
                    bootbox.alert(result.msg + '');
                }
            },
            error: function (result) {
                bootbox.alert(result.msg + '');
            }
        };
        hideForm.ajaxSubmit(options);
        return !1;
    }
</script>
</body>
</html>